%main.mentor_top.container
  .row
    .col-12.h1.text-info.text-center.mt-5
      スキルを定期収入に変えよう
    .col-12.text-center
      スキルがあれば誰でも始めることができます。
  .row.d-flex.mt-5
    .col-12.col-md-4.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
    .col-12.col-md-4.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
    .col-12.col-md-4.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
  
    .btn.btn-info.btn-lg.my-5.mx-auto.d-block{type: "button", onclick: "location.href='#{new_user_registration_path}'", style: "width:300px;"} 
      登録してはじめてみる

    .col-12.h1.text-info.text-center.mt-5.mb-3 サービスの流れ
    .col-12.text-center 全てがオンラインで完結します。
    .col-12.text-center.mb-3 スキルを教えて定期収入を作りましょう。

  .row.d-flex.mt-5
    .col-12.col-md-3.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
    .col-12.col-md-3.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
    .col-12.col-md-3.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
    .col-12.col-md-3.text-center
      %i.fas.fa-globe-asia.text-info.display-4
      .icon_title.text-info オンラインを利用
      %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
    
    .btn.btn-info.btn-lg.my-5.mx-auto.d-block{type: "button", onclick: "location.href='#{new_user_registration_path}'", style: "width:300px;"} 
      登録してはじめてみる