.container
  .row
    .col-12.d-flex.align-items-center.bg-white.text-center.my-5.shadow{style: "height: 200px;"}
      .col-12.h3.text-center.font-weight-bold
        削除が完了しました。
    .col-12.h4.text-center.my-3
      アプリをご利用いただきありがとうございました!
    .col-12.h4.text-center.my-3
      またのご利用をお待ちしております。
    .col-12.text-center.pb-5
      = link_to "トップへ戻る", root_path, class: "btn btn-info"