.article__show_link {
  color: $text-color;
  text-decoration: none;  
}
.article__show_link:hover {
  text-decoration: none;  
  @extend .opacity_style;
}

.article__edit_link {
  color: $text-color;
  text-decoration: none;
}
.article__edit_link:hover {
  text-decoration: none;  
  @extend .opacity_style;
}

.article__destroy_link {
  color: $text-color;
  text-decoration: none;
}
.article__destroy_link:hover {
  cursor: pointer;
  text-decoration: none;  
  @extend .opacity_style;
}