.chatheader {
  background-color: gray;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}

.chatmain {
  display: flex;
  .video {
    background-color: gainsboro;
    height: calc(100vh - 50px);
    width: 50%;
    position: relative;

    .student__video {
      background-color: burlywood;
      height: 250px;
      width: 250px;
      position: absolute;
      right: 0;
      bottom: 0;

    }
  }
  .chats {
    background-color: white;
    height: calc(100vh - 130px);
    width: 50%;
    position: relative;
    overflow: auto;
    &__message_user {
      background-color: white;
      padding: 20px;
      .message {
        padding: 10px;
        background-color: whitesmoke;
        .message_time {
          background-color: whitesmoke;
        }
      }
    }
    .chat__text_box {
      position: absolute;
      background-color: whitesmoke;
      height: 80px;
      width: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
      position: fixed;
      .input_box {
        display: flex; 
        position: relative;
        .chat__text {
          background-color: powderblue;
          margin-left: 30px;
          width: 35vw;
          height: 70px;
        }
        label {
          position: absolute;
          top: 30px;
          right: 30px;
          .image_btn {
            display: none;
          }
        }
      }
      .chat__send_btn {
        background-color: rosybrown;
        height: 40px;
        margin-left: 15px;
      }
    }
  }
}