.dash_content {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  &__left {
    background-color: yellowgreen;
    width: 300px;
  }
  &__right {
    background-color: aquamarine;
    height: 700px;
    width: 100vw;
    .header_text {
      text-align: center;
      font-size: 30px;
      color: black;
      margin: 30px auto;
    }
    .language {
      display: flex;
      &__content {
        position: relative;
        margin: 30px auto;
        &_link {
          position: absolute;
          top: 50%;
          left: 50%;
          transform : translate(-50%,-50%);
        }
        .active {
          opacity: 0.5;
        }
      }
    }
    &_btn {
      text-align: center;
      margin: 30px auto;
      input {
        background-color: aqua;
      }
      
    }
  }

}