.dash_content {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  &__left {
    background-color: yellowgreen;
    width: 300px;
  }
  &__right {
    background-color: aquamarine;
    height: 700px;
    width: 100vw;
    .header_text {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: black;
      margin: 30px auto;

    }
    .language {
      display: flex;
      &__content {
        position: relative;
        margin: 30px auto;
        background-color: white;
        border-radius: 4px;
        width: 150px;
        height: 70px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        line-height: 70px;

        &_button {
          display: none;
        }
        label {
          width: 150px;
          height: 70px;
        }
      }
    .active {
        background-color: red;
    }
  }
    &_btn {
      text-align: center;
      margin: 30px auto;
      font-weight: 600;
      .submit_button {
        background-color: aqua;
        height: 50px;
        width: 150px;
        border-radius: 4px;

      }
      
    }
  }

}