.user__show_link {
  color: $main-color;
}
.user__show_link:hover {
  color: $main-color;
  text-decoration: none;
  @extend .opacity_style;
}

.plan__show_link {
  color: $text-color
}
.plan__show_link:hover {
  color: $main-color;
  @extend .link_style;
}