.follow__btn {
  height: 40px;
  width: 170px;
  border-radius: 20px;
  background-color: white;
  color: $main-color;
  border-color: $main-color;
  outline: 0;
}
.follow__btn:hover {
  background-color: $main-color;
  color: $second-color;
}