.side__menu {
  color: $text-color;
}
.side__menu:hover {
  color: $main-color;
  @extend .link_style;
}

.mentor__plan_registration {
  color: $text-color
}
.mentor__plan_registration:hover {
  color: $text-color;
  opacity: 0.3;
  @extend .link_style;
}