.tag__link {
  color: $text-color;
  font-size: 20px;
}
.tag__link:hover {
  text-decoration: none;
  @extend .opacity_style;
}
.tag__link_sm {
  color: $text-color;
  font-size: 12px;
}
.tag__link_sm:hover {
  text-decoration: none;
  @extend .opacity_style;
}