.mentor__top_link {
  color: $main-color;
}
.mentor__top_link:hover {
  color: $main-color;
  @extend .link_style;
}

.user__name_link {
  color: $main-color;
}
.user__name_link:hover {
  color: $main-color;
   @extend .link_style;
}

.plan_title_link {
  color: $text-color;
}
.plan_title_link:hover {
  @extend .link_style;
  @extend .opacity_style;
}