@import "reset";
@import "top";
@import "main";
@import "chats_second";
@import "font-awesome";


.top {
  background-color: green;
  width: 100vw;
  height: 70px;
  .app_title {
    line-height: 70px;
    padding: 0 50px;
  }
  .log_btn {
    float: right;
    padding: 0 70px;
    line-height: 70px;
    
    .log_in {
      padding: 10px;
    }
  }
  .log_out {
    float: right;
    line-height: 70px;
    padding: 0 100px;
  }
}

footer {
  padding: 10px 200px;
  width: 100vw;
  height: 300px;
  background-color: pink;
  display: flex;
  .footer__left {
    margin-right: 50px;

  }
  .footer__right {
    margin-right: 50px;
  }
}