@import "reset";
@import "variables";
@import "top";
@import "chats_second";
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "mentors/main";
@import "sidebar";
@import "users";
@import "devise";
@import "plans";
@import "skills";



.app__title {
  color: $second-color;
}
.app__title:hover {
  color: $second-color;
  font-weight: 500;
  text-decoration: none;
}

.home__btn {
  color: $second-color;
  font-size: 20px;
}
.home__btn:hover {
  color: $second-color;
  font-weight: 500;
  text-decoration: none;
}

.fa-robot {
  transition: 1.0s;
  transform: rotateZ(0deg);
}
.fa-robot:hover {
  transform: rotateZ(360deg);
}

.search__btn {
  background-color: $second-color;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  margin-right: 5px; 
  border: none;
  outline: 0;
}

.pagination>li>a {          
  border: none;
  color: $text-color;   
}
.pagination>li>a:active {          
  color: $second-color;
}