.container
  .row
    .col-12.bg-light.d-flex.my-5
      .col-3
        .col-12.bg-white.shadow.m-2{style: "height: 300px;"}
          TAG 
        .col-12.bg-white.shadow.m-2{style: "height: 300px;"} 
          CATEGORY
      .col-6
        .col-12.bg-light.text-danger.font-weight-bold.h4.mx-2
          プランを削除しました。
        .col-12.mx-2{style: "height: 50px;"}
          またプランを作成していただけることをお待ちしています！
        .col-12.bg-white.shadow.d-flex.align-items-center.mx-2{style: "height: 100px;"}
          .col-9 
            プランを登録しましょう
          .col-3
            = link_to "登録する", new_plan_path, class: "btn btn-outline-info"
        .col-12.mt-3
          = link_to "ダッシュボードに戻る", users_path, class: "user__index_link"
      .col-3 
        .col-12.bg-white.shadow.m-2{style: "height: 150px;"}
          メンター募集
        .col-12.bg-white.shadow.m-2{style: "height: 150px;"}
          勉強中