.container
  .row
    .col-12.mt-5
    = render "layouts/sidebar"
    .col-9
      = form_with model: @plan, local: true do |f|
        .row.my-5
          .h2.text-info メンタープラン編集
        = render partial: "plan_form", locals: { f: f }
        .row.bg-light 
          .form-group.mx-auto.my-5
            = f.submit "保存する", class: "btn btn-info btn-lg"