.col-3.bg-light.mh-100
  %ul
    %li
      %i.fas.fa-home
      = link_to "ダッシュボード", users_path, class: "side__menu"
    %li
      %i.far.fa-address-card
      = link_to "プロフィール", user_path(current_user.id), class: "side__menu"
    %li
      %i.fas.fa-user-cog
      = link_to "設定", edit_user_path(current_user.id), class: "side__menu"
    %li.mt-2
      = link_to "メンタープランの登録はこちら", new_plan_path, class: "side__menu"